.cartMainDiv {
    display: flex;
    width: fit-content;
    border: white solid 1px;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: rgb(24, 24, 24);
}

.yourSelections {
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.itemNum {
    font-size: 20px;
    color: red;
    margin-left: 10px;
    padding: 0;
}

.popUp {
    background-color: rgba(254, 24, 24, .8);
    overflow: scroll;
}

.cart {
    display: flex;
    justify-content: space-between;
    float: right;
    align-items: center;
}

.openedCart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80vw;
    height: 60vh;
    overflow: scroll;
}

.eachProductDiv {
    border: white solid 1px;
    border-radius: 12px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productName {
    background-color: white;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    color: black;
    font-size: 50px;
    margin: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.cartBtnDiv {
    display: flex;
    gap: 5px;
    padding-bottom: 10px;
}

.red {
    background-color: gray;
}
.red:hover {
    background-color: red;
}
.green {
    background-color: olivedrab;
}

.blue {
    background-color: lightblue;
}

.noItems {
    font-size: 20px;
}

.cartAndPaypal {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.openCloseCart {
    font-size: 17px;
}


.merchItemBtnCart {
    height: 35px;
    width: fit-content;
    font-size: 30px;
    border-radius: 10px;
    border: none;
}

.merchItemBtnCart:hover {
    cursor: pointer;
}



@media (max-width: 400px) {
    .cartAndPaypal {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .openCloseCart {
        font-size: 12px;
    }
    .cartMainDiv {
        height: fit-content;
    }
    .openedCart {
        height: 300px;
    }


}