.bioBackground {
    background-color: rgb(24, 24, 24);
    margin: 0;
    padding: 30px 0;
    border-top: solid white 3px;
    border-bottom: solid white 3px;
    width: 100%;
}

.mainBioDiv {
    width: 80%;
    height: fit-content;
    padding: 30px;
    border: solid goldenrod 3px;
    border-radius: 22px;
    padding-top: 20px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .9);
    color: antiquewhite;
    font-size: 33px;
    max-width: 900px;
}

.bioTitle {
    font-size: 40px;
    text-align: center;

}

.bioText {
    font-family: 'Libre Baskerville', serif;
    line-height: 1.5;
    letter-spacing: .08rem;
}

.bigLines {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
}

.genres {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    color: orange;
}

.rebellious {
    font-family: 'Libre Baskerville', serif;
    color: lightpink;
}

.rockLegends {
    font-style: italic;
}

.catchy {
 color: lightpink;
}

@media (max-width: 400px) {
    .mainBioDiv {
        width: 99%;
    }

    .bigLines {
        font-size: 30px;
    }

    .genres {
        font-size: 30px;
    }

    .bioText {
        font-size: 22px;
    }
}