
.events {
    width: 100%;
    text-align: center;
}

.showsTitle {
    font-size: 4vw;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    padding: 10px;
    color: orange;
    margin: 30px 0 10px 0;
}
.calendar {
    overflow:hidden;
}