.mainMerchItemDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}

.merchItemBtnDiv {
    display: flex;
    gap: 15px;
    align-items: center;
}

.merchItemBtn {
    height: 35px;
    width: fit-content;
    font-size: 30px;
    border-radius: 10px;
    border: none;
}

.merchItemBtn:hover {
    cursor: pointer;
}


.merchImageDiv {
    width: 300px;
    height: 300px;
    border: solid white 1px;
    border-radius: 12px;
    overflow: hidden;
}

.merchImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.merchItemQuantity {
    width: 45px;
    font-size: 42px;
}

.merchItemName {
    color: red;
    font-size: 45px;
    text-align: center;
}

@media (max-width: 400px) {
    .mainMerchItemDiv {
        flex-direction: column-reverse;
        border: solid white 1px;
        border-radius: 12px;
        padding-bottom: 20px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .merchImageDiv {
        -webkit-box-shadow: 1px 1px 5px 11px rgb(255, 107, 178);
        -moz-box-shadow: 1px 1px 5px 11px rgb(255, 107, 178);
        box-shadow: 1px 1px 5px 11px rgb(255, 107, 178);
    }
    .merchItemBtn {
        font-size: 22px;
        color: red;
    }
    .merchItemBtnDiv {
        width: 80%;
        margin: 0 auto;
        color: red;
    }

    .merchItemQuantity {
        font-size: 22px;
    }

}