.mainHeaderDiv {
    top: 0;
    height: fit-content;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    padding-bottom: 40px;
}

.iconAndQuoteDiv {
    display: flex;
    justify-content: space-evenly;
}

.quote {
    color: antiquewhite;
    text-align: center;
    font-size: 4vw;
    margin: 15px 0 5px 0;
}

.quote:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, .6)
}

.underQuote {
    margin-left: 60%;
    margin-top: 0;
    background-color: rgba(0, 0, 0, .6);
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    width: fit-content;
    font-size: 5vw;
    color: antiquewhite;
}

.underQuoteLeft {
    font-family: 'Shizuru';
    color: rgb(126, 189, 229);
}

.underQuoteRight {
    font-family: 'Shizuru';
    color: #FF4040;
}

.headerBtnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 100%;
}

button {
    font-size: 3vw;
    width: 38vw;
    height: 12vw;
    border: double antiquewhite 3px;
    color: antiquewhite;
    cursor: pointer;
}

button:hover {
    background-color: antiquewhite;
    border: double goldenrod 1px;
    color: black;
}

.shopBtn {
    background-color: rgb(46, 110, 46);
}

.spotifyBtn {
    background-color: black;
}