.mainGalleryDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.galleryPhotoDiv {
    border-radius: 12px;
    border: solid white 1px;
    overflow: hidden;
}
.galleryPhotoDiv:hover {
    cursor: pointer;
}

.slidePhotoDiv {
    border-radius: 12px;
    border: solid white 1px;
    overflow: hidden;
    width: 50vw;
    height: 50vw;
    max-width: 700px;
    max-height: 700px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    justify-content: center;
}
.slidePhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.outerGalleryDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.galleryPopup {
    background-color: rgb(24, 24, 24);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
}

.explanation {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(24, 24, 24);
    padding: 15px;
    border-radius: 22px;
}
.gridButton {
    border: solid white 1px;
}
.gridButton:hover {
    cursor: pointer;
}

.mainGridPhotoDiv {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
}

.gridPhotoDiv {
    width: 150px;
    height: 150px;
    border: solid white 1px;
    border-radius: 12px;
    overflow: hidden;
}

.gridPhotoDiv:hover {
    cursor: pointer;
}

.downloadBtn {
    position: fixed;
    right: 10px;
    top: 15px;
    width: 150px;
    height: 40px;
    border: solid pink 1px;
    border-radius: 8px;
    background-color: rgba(24, 24, 24, .8);
    color: white;
}
.downloadBtn:hover {
    cursor: pointer;
}

.backBtn {
    position: fixed;
    right: 200px;
    top: 15px;
    width: 150px;
    height: 40px;
    border: solid pink 1px;
    border-radius: 8px;
    background-color: rgba(24, 24, 24, .8);
    color: white;
}
.backBtn:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    .gridPhotoDiv {
        width: 60px;
        height: 60px;
    }
}