.mainEPKDiv {
    background-image: url('../../assets/cheetah.jpeg');
    background-size: cover;
    overscroll-behavior-block: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
