.mainWifeIslandAudioDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wifeIslandAudioDiv {
    border-radius: 12px;
    background-color: rgb(171, 10, 85);
    padding: 10px;
}