.mainAppDiv {
    margin: 0;
    overflow-y: scroll;
}

a {
    color: inherit;
}

.bigX {
    font-size: 50px;
    border-radius: 12px;
    padding: 10px;
    background-color: rgba(24, 24, 24, .9);
    height: fit-content;
    width: fit-content;
    margin: 0;
}
